<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container justify-content-center text-center">
        
        <div class="info">
            
            <h1>Counting Visits!</h1>
            <h3>You've visited {{session['count']}} time(s)</h3>
            
            <div class="d-flex justify-content-center">
                
                <form action='/plus' method="post" name="add_2">
                    <input type="submit" value="Click for Two" id="add" name="add"
                    class="btn btn-primary btn-md btn-warning btn-outline-secondary m-2"></input>
                </form>
                
                <form action='/reset' method="post" name="reset">
                    <input type="submit" value="Reset Me" id="reset_1" name="reset_1"
                    class="btn btn-primary btn-md btn-info btn-outline-secondary m-2"></input>
                </form>
            </div>
        </div>
    </div>
</body>

</html>